* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1, h2, h3, h4, h5, h6, p, ul, li, ol {
  margin: 0;
  padding: 0;
}

/*==========================
		com css end
============================*/
/*=============================
        header start
=============================*/
#header {
  height: 45px;
  background: #f5f6f8;
}

#header .header-left {
  background: #f5f6f8;
}

#header .header-left__p {
  color: #333333;
  font-size: 0.6875rem;
  font-family: "Poppins", sans-serif;
  padding: 14px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

#header .header-right .dropdown__head {
  position: relative;
}

#header .header-right .dropdown__head:hover .dropdown__text {
  color: #336699;
}

#header .header-right .dropdown__head:hover .dropdown__box {
  opacity: 100%;
}

#header .header-right .dropdown__text {
  color: #333333;
  font-size: 0.6875rem;
  padding: 14px 0;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

#header .header-right .dropdown__text i {
  margin-left: 5px;
}

#header .header-right .dropdown__box {
  position: absolute;
  left: 0;
  top: 100%;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.267);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.267);
  text-align: center;
  opacity: 0;
  width: 50px;
  position: relative;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

#header .header-right .dropdown__box::before {
  left: 50%;
  top: -10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ffffff;
}

#header .header-right .dropdown__item {
  margin: 4px 4px;
}

#header .header-right .dropdown__link {
  color: #333333;
  font-size: 0.6875rem;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

#header .header-right .dropdown__link:hover {
  color: #336699;
}

#header .header-right .header-divider {
  width: 1px;
  height: 15px;
  background: #ccc;
  margin: 14px 0 14px 20px;
}

#header .header-right .header-menu__link {
  color: #333333;
  font-family: "Poppins", sans-serif;
  font-size: 0.6875rem;
  padding: 14px 0;
  font-weight: 400;
  text-transform: capitalize;
  margin-left: 20px;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

#header .header-right .header-menu__link:hover {
  color: #336699;
}

#header .header-right .sign-reg__item {
  margin-left: 20px;
}

#header .header-right .sign-reg__item:nth-child(2) {
  margin-left: 0;
}

#header .header-right .sign-reg__link {
  color: #333333;
  font-family: "Poppins", sans-serif;
  font-size: 0.6875rem;
  padding: 14px 0;
  font-weight: 400;
  text-transform: capitalize;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

#header .header-right .sign-reg__link i {
  margin-right: 6px;
  float: left;
  font-size: 0.9375rem;
}

#header .header-right .sign-reg__link:hover {
  color: #336699;
}

/*=============================
        header start
=============================*/
/*# sourceMappingURL=style.css.map */